# Task 3: Database Connection

In [1]:
# import libraries
import os
import sys

In [2]:
from pathlib import Path
from importlib import reload
# add the project root to the path
project_root = Path("..").resolve()
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

In [26]:
#import the module
from src.database.Connection import Database
import src.database.Connection
# reload the module to ensure we have the latest version
reload(src.database.Connection)

In [28]:
host = "localhost"
port = 5432
database = "bank_reviews"
user = "postgres"
password = "1234"
# create a database connection
db = Database(host=host,database=database, user=user, password=password, port=port)
# connect to the database
con = db.connect()

Connection to the database established successfully.

In [30]:
# create bank table
create_bank_table = """
CREATE TABLE IF NOT EXISTS bank (
    bid VARCHAR(10) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    website VARCHAR(255) NOT NULL
);
"""
# create review table
create_review_table = """
CREATE TABLE IF NOT EXISTS reviews (
    rid SERIAL PRIMARY KEY,
    bid VARCHAR(10) NOT NULL,
    rating INTEGER NOT NULL,
    review_text TEXT NOT NULL,
    review_date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    processed_review TEXT,
    sentiment_score FLOAT,
    sentiment_label VARCHAR(50),
    FOREIGN KEY (bid) REFERENCES bank(bid)
);
"""
# create the tables
db.create_table(create_bank_table)
db.create_table(create_review_table)

Table created successfully.
Table created successfully.

In [37]:
# 3 banks data (CBE, BOA, Dashen) with their details
banks_data = [
    {
        "bid":"CBE",
        "name": "Commercial Bank of Ethiopia",
        "website": "https://www.combanketh.et"
    },
    {
        "bid":"BOA",
        "name": "Bank of Abyssinia",
        "website": "https://www.bankofabyssinia.com/"
    },
    {
        "bid":"Dashen",
        "name": "Dashen Bank",
        "website": "https://www.dashenbanksc.com/"
    }
]
# insert banks data into the bank table
for bank in banks_data:

    # create a dictionary for the bank data
    sql = """
    INSERT INTO bank (bid, name, website)
    VALUES (%s, %s, %s)
    ON CONFLICT (bid) DO NOTHING;
    """
    # execute the insert query
    db.insert_data(sql, (bank["bid"], bank["name"], bank["website"]))

Data inserted successfully.
Data inserted successfully.
Data inserted successfully.